    <h2> Mensajes </h2>
    <div id="mensajes"></div>
    <br>
    <form onsubmit="return envioMensaje(this)">
        <input id="mail" type="e-mail" placeholder="Ingrese su mail...">
        <input id="mensaje" type="text" placeholder="Su mensaje..." >
        <input type="submit">
    </form>