<h2>Registrate</h2>

<form action="/usuario/register" method="POST" name="register">

<input type="text" id="email" name="email" aria-describedby="email"
                        placeholder="Email">

<input type="text" id="name" name="name" aria-describedby="name"
                        placeholder="Nombre">

<input type="password" id="password" name="password" aria-describedby="password"
                    placeholder="Password">

<button type="submit" style="margin:1.5em;">Confirmar registro</button>