
    <h2> Mensajes </h2>
    <div id="mensajes"></div>
    <br>
    <h3> Porcentaje de compresion </h3>
    <div id="porcentaje"></div>
    <br>
    <form action="http://localhost:8080/mensajes" method="POST" onsubmit="return envioMensaje(this)">
        <input id="mail" type="e-mail" placeholder="Ingrese su mail...">
        <input id="first-name" type="text" placeholder="Nombre" >
        <input id="last-name" type="text" placeholder="Apellido" >
        <input id="age" type="number" placeholder="Edad" >
        <input id="alias" type="text" placeholder="Alias" >
        <input id="avatar" type="url" placeholder="Avatar" >

        <input id="text" type="text" placeholder="Su mensaje..." >
        <input type="submit">
    </form>