<h2>¡Bienvenidx <strong>{{userName}}</strong>!</h2>

<form action="/usuario/logout" name="logout" method="GET">
                <button type="submit"  style="margin:1.5em;" onsubmit="return false">
                    Logout</button>
            </form>


