<h2>Iniciar sesion</h2>

<form action="/usuario/login" method="POST" name="login">

<input type="text" id="userName" name="userName" aria-describedby="userName"
                        placeholder="Usuario">

<input type="password" id="password" name="password" aria-describedby="password"
                    placeholder="Password">

<button id="btn-login" type="submit" style="margin:1.5em;">Login</button>
