
<h2>¡Bienvenidx <strong>{{userName}}</strong>!</h2>

<form action="http://localhost:8080/usuario/logout" name="logout" method="GET">
                <button type="submit"  style="margin:1.5em; ">
                    Logout</button>
            </form>


